body{
    font-family: 'Roboto';
    font-size: 14px;
}

.container{
    display: flex;
    margin: 0 auto;
    width: 80%;
}

.items_container{
    display: block;
}

.controls{
    margin-left: 5%;
    max-width: 30%;
    margin-right: 7%;
}

ul{
    padding: 0;
}

nav{
    display: inline-block;
    padding: 0;
    width: 30%;
}

nav ul li{
    font-size: 20px;
    display: inline-block;
    justify-content: space-around;
    margin: 0 10px;
}
.nav-button{
    color: #fff;
    background-color: blue;
    border: 2px solid black;
    border-radius: 20px;    
    width: 70px;
    height: 30px;
}

.logo{
    justify-content: left;
    font-size: 30px;
}

.form h3{
    font-size: 25px;
}

.form_tittle_part{
    margin-bottom: 0;
}

.form-label{
    font-size: 20px;
    display: block;
    padding-left: 10px;
}

.form-control{
    margin-top: 5px;
    width: 300px;
    height: 30px;
    border: solid blue 2px;
    border-radius: 35px;
    font-size: 18px;
    padding-left: 8px;
}

.btn{
    display: block;
    width: 115px;
    margin-top: 10px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: red;
    color: white;
}

.btn:hover{
    transition: 0.1s ease;
    background-color: #fff;
    color: black;
    border: solid blue 2px;
}

.find_sweatshirt{
    display: block;
}

.find_sweatshirt h4{
    font-size: 25px;
    margin-bottom: 5px;
}

.prices_summ{
    display: block;
}

.prices_summ h4{
    font-size: 25px;
    margin-bottom: 5px;
}

.sort_by_prices{
    display: block;
}

.sort_by_prices h4{
    font-size: 25px;
    margin-bottom: 5px;
}

.product img{
    width: 300px;
}

.product_body{
    text-align: center;
}

.product_title{
    font-size: 20px;
    margin-bottom: 10px;
}

.product_price{
    font-size: 15px;
    margin: 0;
}

#items-container{
    padding: 0;
    margin: 0;
    list-style: none;
}

#items-container li{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: solid gray 2px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.product p{
    padding-bottom: 10px;
}

.product_buttons{
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.delete_button{
    width: 100px;
    height: 35px;
    background-color: red;
    color: #fff;
    border: 2px solid white;
    border-radius: 20px;
}

.delete_button:hover{
    transition: 0.2 ease-in-out;
    background-color: white;
    color: black;
    border-color: red;
}

.edit_button{
    width: 100px;
    height: 35px;
    background-color: blue;
    color: #fff;
    border: 2px solid white;
    border-radius: 20px;
}

.edit_button:hover{
    transition: 0.2s ease-in-out;
    background-color: white;
    color: black;
    border-color: blue;
}

.save_button{
    width: 100px;
    height: 35px;
    background-color: blue;
    color: #fff;
    border: 2px solid white;
    border-radius: 20px;
}

.save_button:hover{
    transition: 0.2s ease-in-out;
    background-color: white;
    color: black;
    border-color: blue;
}